{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            {{title|title}}
        {% endblock %}
    </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'stepshop/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'stepshop/images/fast-cart.png' %}" type="image/x-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'stepshop/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/tooplate-main.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/style.css' %}">
    
    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="login">
            {% block name %}
            {% endblock %}

            {% block content %}
            {% endblock %}
            
        </div>
    </div>
</body>
</html>