{% extends  'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mx-auto col-3">
                <form class="form-horizontall" action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}

                    {{login_form.as_p}}
                    <br>
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                </form>
            </div>
        </div>
        <button class="btn btn-round form-control">
            <a href="{% url 'auth:register' %}">зарЕгаться</a>
        </button>
    </div>
{% endblock %}
