{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}
Log in
{% endblock %}

{% block name %}
<div class="h2 text-center head">Log in</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="mx-auto col-3">
                <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
                <a href="{% url 'auth:register' %}" class="btn btn-round form-control last">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %} 