    <!-- Navigation -->
{% load static %}

<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Featured Items</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div id="filters" class="button-group">
            <a href="{% url 'products:index' %}" style="margin: 5px;">All</a>
          {% for item in links_menu %}
              <a href="{% url 'products:category' item.pk %}" style="margin: 5px;" class="link-dark">{{item.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

      