{% extends 'stepshop/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Product</h1>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/media/{{product.image}}" style="width: 33rem;">
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{product.name}}</h4>
              <h6>${{product.price}}</h6>
              <p style="word-wrap: break-word;">{{product.description}}</p>
              <span>{{product.quantity}} left on stock</span><br>
              <a href="{% url 'basket:add' product.pk %}" class="btn btn-primary">В корзину</a>
              <div class="down-content">
                <div class="categories">
                  <h6>Category: 
                    <span>
                      <a href="#">{{product.category}}</a>
                    </span>
                  </h6>
                </div>
                <div class="share">
                  <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->


    <!-- Similar Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>You May Also Like</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              {% for item in all_products %}
              <a href="{% url 'products:product' item.pk %}">
                <div class="featured-item">
                  <img src="/media/{{ item.image }}" alt="{{ item.short_desc }}">
                    <h4>{{ item.name }}</h4>
                    <h6>${{ item.price }}</h6>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Similar Ends Here -->
{% endblock %}