{% extends 'stepshop/base.html' %}
{% load static %}
{% load pic_tags %}


{% block content %}



    {% include  'mainapp/includes/inc_category_menu.html' %}
  
    <div class="featured container no-gutter">

        <div class="row posts">
          {% for item in products %}
            <div id="{{item.pk}}" class="item new col-md-4">
              <a href="{% url 'products:product' item.pk %}">
                <div class="featured-item">
                  <img src="{{ item.image|media_folder_products }}" alt="{{ item.short_desc }}">
                  <h4>{{item.name}}</h4>
                  <h6>${{item.price}}</h6>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

        <!-- Bootstrap core JavaScript -->
    <script src="{% static 'stepshop/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'stepshop/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'stepshop/js/custom.js' %}"></script>
    <script src="{% static 'stepshop/js/owl.js' %}"></script>
    <script src="{% static 'stepshop/js/isotope.js' %}"></script>
    <script src="{% static 'stepshop/js/flex-slider.js' %}"></script>
    <!-- Featred Page Ends Here -->
{% endblock %}

   