{% extends 'stepshop/base.html' %}
{% load static %}


{% block content %}


<!-- <div style="color: red;">
  {{request.resolver_match}}

  stepshop/media/product_images/50059_19633152-7566413-image-a-56_1570908569851.jpg
  stepshop/media/product_images/50059_19633152-7566413-image-a-56_1570908569851.jpg
</div> -->



    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Items</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              {% for item in links_menu %}
                <button class="btn btn-primary" data-filter="{{item.data_filter}}">{{item.name}}</button>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">
          {% for item in products %}
            <div id="{{item.pk}}" class="item new col-md-4">
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="stepshop/media/{{item.image}}" alt="">
                  <h4>{{item.name}}</h4>
                  <h6>{{item.price}}</h6>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->
{% endblock %}

   