{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>{% block title %} 
      {% if title %}
        {{ title }} 
      {%else%}
        HACK Shop
      {%endif%}


      {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'stepshop/images/fast-cart.png' %}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'stepshop/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'stepshop/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/tooplate-main.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/css/style.css' %}">

    {% block css %}
    {% endblock %}

  </head>

  <body>
    
    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row" style="height: 2.8rem;">
          <div class="col-md-12" style="text-align: right;">
            {% if user.is_authenticated %}
                <a class="btn btn-light" style="margin-top: 0.2rem;" href="{% url 'auth:edit' %}">
                  Profile
                </a>
              {% endif %}
              
                {% if user.is_authenticated %}
                  <a href="{% url 'basket:view' %}" class="btn btn-light" style="margin-top: 0.2rem;">Cart - {{ basket.0.total_quantity }}</a>
                  <a class="btn btn-light" style="margin-top: 0.2rem;" href="{% url 'auth:logout' %}">Logout</a>
                {% else %}
                  <a class="btn btn-light" style="margin-top: 0.2rem;" href="{% url 'auth:login' %}">Login</a>
                  <a class="btn btn-light" style="margin-top: 0.2rem;" href="{% url 'auth:register' %}" class="">Sing up</a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% include  'stepshop/includes/inc_main_menu.html' %}

    {% block content %}
    {% endblock %}




    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2019 - {%now "Y"%} Django  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'stepshop/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'stepshop/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'stepshop/js/custom.js' %}"></script>
    <script src="{% static 'stepshop/js/owl.js' %}"></script>
    <script src="{% static 'stepshop/js/isotope.js' %}"></script>
    <script src="{% static 'stepshop/js/flex-slider.js' %}"></script>


  </body>

</html>
